{{#if showInput}}
  <input
      type="text"
      value={{todo.dueDate}}
      onfocus={{action (mut _previousDueDate) value="target.value"}}
      oninput={{action (mut todo.dueDate) value="target.value"}}
      onblur={{action 'doneAddingDueDate' value='target.value'}} />
{{else}}
  <button onclick={{action 'showDueDate'}}>
    <i class="fa fa-calendar"></i>
  </button>
{{/if}}
