#todo-list li .toggle, #todo-list li .destroy {
  cursor: pointer;
}

#todo-list li .due-date {
  display: none;
  position: absolute;
  top: 12px;
  right: 50px;
}

#todo-list li .due-date button {
  cursor: pointer;
}

#todo-list li:hover .due-date {
  display: block;
}

#todo-list li.completed .due-date {
  display: none;
}

#todo-list li.is-due label {
  color: red;
}
